@font-face {
  font-family: 'insungitCutelivelyjisu';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/insungitCutelivelyjisu.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Arita-dotum-Medium';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Arita-dotum-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* 메인 영역 */
body{
  background-image: url(image/about-bg.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

body{
  font-family: 'Arita-dotum-Medium';
}

h1{
  font-family: 'insungitCutelivelyjisu';
}

.nav-link:hover,
.nav-link.active {
  color: rgb(255, 158, 219) !important;
}